

<hr>
<div fxLayout="row" fxLayoutAlign="space-evenly center" >
    <div  class='imgPkn'>
        <img  mat-card-image src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{resultado.id}}.png">
    </div>
    <div>
        <p class="title">{{resultado.name}} </p>
        
        <p class="description">
            Características do pokemon dolor sit amet, consectetur adipiscing elit. In ultricies nunc at odio tempor tincidunt. Sed sit amet dolor velit. Donec convallis tellus ut porta molestie. Suspendisse condimentum et dui in aliquam.
        </p >
    </div>    
</div>
                
        
        
